---
import { Image } from "astro:assets";
import filiphiker from "../assets/filiphiker.png";
import rw from "../assets/rw.png";
import sh4 from "../assets/sh-4.png";
import oblivion from "../assets/oblivion.png";
import sh4dice from "../assets/sh-4-dice.png";
import sh10dice from "../assets/sh-10-dice.png";
import sh10 from "../assets/sh-10.png";
import sh20dice from "../assets/sh-20-dice.png";
import sh20 from "../assets/sh-20.png";
import sh20win from "../assets/sh-20-win.png";
import sh40dice from "../assets/sh-40-dice.png";
import sh40 from "../assets/sh-40.png";
---

<section id="portfolio" class="bg-black">
  <div
    class="max-w-screen-sm md:max-w-screen-md lg:max-w-screen-xl mx-auto w-full px-8 mr-auto ml-auto py-8">
    <div class="text-white text-center text-3xl font-roboto pb-8">
      My Portfolio
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div class="grid gap-4">
        <div class="group hover:scale-125 transition-all">
          <Image class="h-auto max-w-full rounded-lg" src={filiphiker} alt="" />

          <div
            class="px-4 text-center hidden group-hover:flex absolute inset-0 opacity-0 group-hover:opacity-75 flex items-center justify-center bg-black border-2 rounded-lg text-white transition duration-300">
            <span class="text-lg">filiphiker.com</span>
          </div>
        </div>
        <div class="group hover:scale-125 transition-all">
          <Image class="h-auto max-w-full rounded-lg" src={rw} alt="" />
          <div
            class="px-4 text-center hidden group-hover:flex absolute inset-0 opacity-0 group-hover:opacity-75 flex items-center justify-center bg-black border-2 rounded-lg text-white transition duration-300">
            <span class="text-lg">Retro Wheels - Kajot games</span>
          </div>
        </div>
        <div class="group hover:scale-125 transition-all">
          <Image
            class="h-auto max-w-full rounded-lg hover:scale-125 transition-all hover:border-2 border-black"
            src={sh4dice}
            alt=""
          />
          <div
            class="px-4 text-center hidden group-hover:flex absolute inset-0 opacity-0 group-hover:opacity-75 flex items-center justify-center bg-black border-2 rounded-lg text-white transition duration-300">
            <span class="text-lg">Simply hot 4 Dice - Kajot games</span>
          </div>
        </div>
      </div>
      <div class="grid gap-4">
        <div class="group hover:scale-125 transition-all">
          <Image
            class="h-auto max-w-full rounded-lg hover:scale-125 transition-all hover:border-2 border-black"
            src={sh40dice}
            alt=""
          />
          <div
            class="px-4 text-center hidden group-hover:flex absolute inset-0 opacity-0 group-hover:opacity-75 flex items-center justify-center bg-black border-2 rounded-lg text-white transition duration-300">
            <span class="text-lg">Simply hot 40 Dice - Kajot games</span>
          </div>
        </div>
        <div class="group hover:scale-125 transition-all">
          <Image
            class="h-auto max-w-full rounded-lg hover:scale-125 transition-all hover:border-2 border-black"
            src={sh10}
            alt=""
          />
          <div
            class="px-4 text-center hidden group-hover:flex absolute inset-0 opacity-0 group-hover:opacity-75 flex items-center justify-center bg-black border-2 border-2 rounded-lg text-white transition duration-300">
            <span class="">Simply hot 10 - Kajot games</span>
          </div>
        </div>
        <div class="group hover:scale-125 transition-all">
          <Image
            class="h-auto max-w-full rounded-lg hover:scale-125 transition-all hover:border-2 border-black"
            src={sh20}
            alt=""
          />
          <div
            class="px-4 text-center hidden group-hover:flex absolute inset-0 opacity-0 group-hover:opacity-75 flex items-center justify-center bg-black border-2 rounded-lg text-white transition duration-300">
            <span class="text-lg">Simply hot 20 - Kajot games</span>
          </div>
        </div>
      </div>
      <div class="grid gap-4">
        <div class="group hover:scale-125 transition-all">
          <Image
            class="h-auto max-w-full rounded-lg hover:scale-125 transition-all hover:border-2 border-black"
            src={sh20dice}
            alt=""
          />
          <div
            class="px-4 text-center hidden group-hover:flex absolute inset-0 opacity-0 group-hover:opacity-75 flex items-center justify-center bg-black border-2 rounded-lg text-white transition duration-300">
            <span class="text-lg">Simply hot 20 dice - Kajot games</span>
          </div>
        </div>
        <div class="group hover:scale-125 transition-all">
          <Image
            class="h-auto max-w-full rounded-lg hover:scale-125 transition-all hover:border-2 border-black"
            src={sh4}
            alt=""
          />
          <div
            class="px-4 text-center hidden group-hover:flex absolute inset-0 opacity-0 group-hover:opacity-75 flex items-center justify-center bg-black border-2 rounded-lg text-white transition duration-300">
            <span class="text-lg">Simply hot 4 - Kajot games</span>
          </div>
        </div>
        <div class="group hover:scale-125 transition-all">
          <Image
            class="h-auto max-w-full rounded-lg hover:scale-125 transition-all hover:border-2 border-black"
            src={sh10dice}
            alt=""
          />
          <div
            class="px-4 text-center hidden group-hover:flex absolute inset-0 opacity-0 group-hover:opacity-75 flex items-center justify-center bg-black border-2 rounded-lg text-white transition duration-300">
            <span class="text-lg">Simply hot 10 dice - Kajot games</span>
          </div>
        </div>
      </div>
      <div class="grid gap-4">
        <div class="group hover:scale-125 transition-all">
          <Image
            class="h-auto max-w-full rounded-lg hover:scale-125 transition-all hover:border-2 border-black"
            src={sh20win}
            alt=""
          />
          <div
            class="px-4 text-center hidden group-hover:flex absolute inset-0 opacity-0 group-hover:opacity-75 flex items-center justify-center bg-black border-2 rounded-lg text-white transition duration-300">
            <span class="text-lg">Simply hot 20 - Kajot games</span>
          </div>
        </div>
        <div class="group hover:scale-125 transition-all">
          <Image
            class="h-auto max-w-full rounded-lg hover:scale-125 transition-all hover:border-2 border-black"
            src={sh40}
            alt=""
          />
          <div
            class="px-4 text-center hidden group-hover:flex absolute inset-0 opacity-0 group-hover:opacity-75 flex items-center justify-center bg-black border-2 rounded-lg text-white transition duration-300">
            <span class="text-lg">Simply hot 40 - Kajot games</span>
          </div>
        </div>
        <div class="group hover:scale-125 transition-all">
          <Image
            class="h-auto max-w-full rounded-lg hover:scale-125 transition-all hover:border-2 border-black"
            src={oblivion}
            alt=""
          />
          <div
            class="px-4 text-center hidden group-hover:flex absolute inset-0 opacity-0 group-hover:opacity-75 flex items-center justify-center bg-black border-2 rounded-lg text-white transition duration-300">
            <span class="text-lg">Oblivion - my first game</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
